{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Add/Edit Assignment" %}{% endblock title %}

{% block content %}
<div class="container">
    <h1>{% trans "Add/Edit Assignment" %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'assignment_list' course_slug=course.slug %}" class="btn btn-secondary">
            {% trans "Cancel" %}
        </a>
    </form>
</div>
{% endblock content %}
