{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}

{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        {% if request.user.is_student %}
        <li class="breadcrumb-item"><a href="{% url 'user_course_list' %}">{% trans 'My courses' %}</a></li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'programs' %}">{% trans 'Programs' %}</a></li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'program_detail' course.program.id %}">{{ course.program }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course }}</li>
    </ol>
</nav>

<div class="manage-wrap">
    <div class="d-flex">
        <div class="d-flex gap-2 flex-wrap">
            {% if request.user.is_superuser %}
                <a class="btn btn-sm btn-light" href="{% url 'edit_course' course.slug %}">
                    <i class="fas fa-pencil-alt"></i> {% trans 'Edit course' %}
                </a>
            {% endif %}
        
            {% if request.user.is_superuser or request.user.is_lecturer %}
                <a class="btn btn-sm btn-primary" href="{% url 'upload_file_view' course.slug %}">
                    <i class="fas fa-plus"></i> {% trans 'Upload new file' %}
                </a>
                <a class="btn btn-sm btn-primary" href="{% url 'upload_video' course.slug %}">
                    <i class="fas fa-plus"></i> {% trans 'Upload new video' %}
                </a>
            {% endif %}
        
            {% if request.user.is_lecturer %}
                <a class="btn btn-sm btn-primary" href="{% url 'assignment_list' course.slug %}">
                    <i class="fas fa-tasks"></i> {% trans "Manage Assignments" %}
                </a>
            {% endif %}
        </div>
        
        
        <div class="ms-auto">
            <a class="btn btn-sm btn-warning" href="{% url 'quiz_index' course.slug %}">
                <i class="fas fa-list"></i> {% trans 'Take a Quiz' %}
            </a>
        </div>
    </div>
</div>

<div class="title-1">{{ course }}</div>
<p class="small text-muted">{{ course.summary }}</p>

{% include 'snippets/messages.html' %}

<div class="container">
    <!-- Video Tutorials Section -->
    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">{% trans 'Video Tutorials' %}</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Video Title' %}</th>
                            <th>{% trans 'Uploaded Date' %}</th>
                            <th>{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{{ video.get_absolute_url }}" title="{{ video }}" class="d-flex align-items-center">
                                    <i class="fas fa-video me-1"></i> {{ video.title|title }}
                                </a>
                            </td>
                            <td>{{ video.timestamp|date }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ video.get_absolute_url }}">
                                    <i class="fas fa-play"></i> {% trans 'Play now' %}
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">
                                {% trans 'No videos uploaded yet.' %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Documentations Section -->
    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">{% trans 'Documentations' %}</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'File Name' %}</th>
                            <th>{% trans 'Uploaded Date' %}</th>
                            <th>{% trans 'Download' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{{ file.file.url }}" title="{{ file }}" class="d-flex align-items-center">
                                    <i class="fas fa-file-alt me-1"></i> {{ file.title|title }}
                                </a>
                            </td>
                            <td>{{ file.upload_time|date }}</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="{{ file.file.url }}">
                                    <i class="fas fa-download"></i> {% trans 'Download' %}
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">
                                {% trans 'No files uploaded yet.' %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Assignments Section -->
    <div class="row mt-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">{% trans 'Assignments' %}</p>
            <div class="table-responsive">
                <table class="table table-shadow table-light table-striped m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Assignment Title' %}</th>
                            <th>{% trans 'Due Date' %}</th>
                            <th>{% trans 'Actions' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in assignments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ assignment.title }}</td>
                            <td>{{ assignment.due_date|date:"F j, Y, g:i a" }}</td>
                            <td>
                                {% if request.user.is_student %}
                                    {% with user_submissions|get_item:assignment.id as submission %}
                                        {% if submission %}
                                            <a href="{{ submission.uploaded_file.url }}" class="btn btn-sm btn-info">
                                                <i class="fas fa-eye"></i> {% trans "View My Submission" %}
                                            </a>
                                            <a href="{% url 'submit_assignment' assignment.id %}" class="btn btn-sm btn-primary">
                                                <i class="fas fa-upload"></i> {% trans "Resubmit" %}
                                            </a>
                                        {% else %}
                                            <a href="{% url 'submit_assignment' assignment.id %}" class="btn btn-sm btn-primary">
                                                <i class="fas fa-upload"></i> {% trans "Submit" %}
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                {% elif request.user.is_lecturer %}
                                    <a href="{% url 'submission_list' assignment.id %}" class="btn btn-sm btn-info">
                                        <i class="fas fa-list"></i> {% trans "View Submissions" %}
                                    </a>
                                    <a href="{% url 'assignment_edit' course_id=course.id assignment_id=assignment.id %}" class="btn btn-sm btn-warning">
                                        <i class="fas fa-pencil-alt"></i> {% trans "Edit" %}
                                    </a>                                                                     
                                    <a href="{% url 'assignment_delete' course.id assignment.id %}" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash-alt"></i> {% trans "Delete" %}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">
                                {% trans 'No assignments created yet.' %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Lecturers Section -->
    <div class="row mb-5">
        <div class="col-md-12 p-0">
            <p class="form-title m-0">{% trans 'Lecturers' %}</p>
            <div class="row">
                {% for lecturer in lecturers %}
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            {% if lecturer.lecturer.picture %}
                            <img class="avatar avatar-lg mb-3" src="{{ lecturer.lecturer.picture.url }}" alt="">
                            {% endif %}
                            <h5 class="fw-bold">{{ lecturer|title }}</h5>
                            <p>{{ lecturer.lecturer.email }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12 text-center text-muted">
                    {% trans 'No lecturers assigned to this course.' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}
